body{
    font-family: Arial;
    padding: 30px;
}

input,select,button{
    padding:6px;
    margin:5px;
}

table{
    border-collapse: collapse;
    width: 600px;
    margin-top: 20px;
}

th, td{
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}

th{
    background: #cdd9d1;
}

.yeu{
    background-color: #fff8e1;
}

#stats{
    margin-top: 10px;
    font-weight: bold;
}
